APP_NAME=MishiAi Backend
APP_ENV=development
API_PREFIX=/api
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001

MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/mishiai?retryWrites=true&w=majority&appName=MishiAi
MONGODB_DB=mishiai

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_FOLDER=mishiai
